@import url(common.css);
@import url(font.css);


body{
  min-width: 1200px;
  font-family: 'WorkSans';
  text-transform: uppercase;
  background-color: #181716;
  color: #f9f6f3;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {display: none;}


/* top & bottom */
.side_btn{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 60px;
  background: #18171693;
  color: #f9f6f3;
  font-size: 20px;
  border-radius: 30px;
  z-index: 99;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.side_btn.active{
  transform: translateY(0);
  opacity: 1;
}
.top, .bottom{
  position: relative;
  width: 30px;
  height: 30px;
}
.top a i, .bottom a i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


#wrap{width: 100%;}

h2{
  font-size: 160px;
  font-weight: 500;
  line-height: 160px;
}
h3{
  font-size: 160px;
  font-weight: 500;
  font-family: 'BaskervilleBT', serif;
  letter-spacing: -1.5px;
}
h4{
  font-size: 80px;
  line-height: 80px;
}
h5{font-size: 40px;}
h6{font-size: 23px;}
p{font-size: 18px;}


/* mouse */
@media only screen and (min-width:769px) {
	body, a{cursor: none;}
	.cursor{
		position: fixed;
		left: 0;
		top: 0;
		pointer-events: none;
	}
	.cursor--small{
		width: 18px;
		height: 18px;
		left: -9px;
		top: -9px;
		border-radius: 50%;
		z-index: 99;
		background: #beb6aba6;
	}
	.cursor--canvas{
		width: 100vw;
		height: 100vh;
		z-index: 100;
	}
}

@media only screen and (max-width:768px) {
	body{cursor: none;}
	.cursor--small,
  .cursor--canvas{display: none;}
}


/* ========================= Header */
header{
  width: inherit;
  background: url(../image/con1.jpg) no-repeat center center;
  background-size: cover;
  color: #f9f6f3;
  overflow: hidden;
}
header nav{
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 99;
}
header nav .logo.white{
  width: 110px;
  height: 30px;
  position: absolute;
  top: 28px;
  left: 30px;
  background: url(../image/logo.svg) no-repeat left center;
  opacity: 1;
}
header nav .logo.black{
  width: 110px;
  height: 30px;
  position: absolute;
  top: 28px;
  left: 30px;
  background: url(../image/logo_b.svg) no-repeat left center;
  opacity: 1;
}
header nav ul{
  display: flex;
  justify-content: right;
  position: absolute;
  top: 0;
  right: 30px;
  margin: 35px 0;
}
header nav ul li{
  font-size: 18px;
  padding: 0 12px;
  cursor: pointer;
  transition: 0.5s;
}
header nav ul .navHover:hover{
  background: #f9f6f3;
  color: #181716;
  border-radius: 5px;
  box-shadow: 0 3px 5px #18171633;
}
header nav ul li i{font-size: 22px;}
header nav ul li:nth-child(6){
  margin-left: 20px;
}
header nav ul li:nth-child(6):hover,
header nav ul li:nth-child(7):hover{
  transform: scale(1.1);
}
.title_top{
  width: 1200px;
  margin: 85px 0 0 30px;
}
.title_top div{
  width: 1200px;
  display: inline-block;
  position: relative;
}
.title_top h3{margin-top: -35px;}
.title_top p{margin-top: -25px;}
.title_bottom{
  overflow: hidden;
  margin: 1250px 30px 0;
}
.title_bottom h5{
  float: right;
  margin-bottom: 30px;
}
.title_bottom p{
  float: left;
  width: 630px;
  margin-top: 22px;
}


/* ========================= Section */
section{width: inherit;}

/* content */
.content{
  background: #f9f6f3;
  color: #181716;
  padding: 100px 50px;
}
.content>div:nth-of-type(1){width: 1550px;}
.content .con_img{
  width: 100%;
  height: 900px;
  background: url(../image/con2.jpg) no-repeat top center;
  background-size: cover;
  margin-top: 50px;
}
.content ul{display: flex;}
.content ul li{
  margin: 50px 0;
}
.con_text{width: 480px;}
.content ul li h6{margin-bottom: 15px;}
.content>p{
  width: 700px;
  margin: 50px 0 80px;
}
.content div:nth-of-type(3){
  width: 100%;
  height: 2px;
  background: #181716;
}
.content h3{
  font-size: 80px;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #181716;
  border-radius: 300px;
  padding: 120px 0;
  transition: 0.35s;
}
.content h3:hover{
  background: #181716;
  color: #f9f6f3;
}



/* ========================= Footer */
footer{
  width: 100%;
  padding: 100px 50px;
  background: #181716;
  color: #f9f6f3;
  overflow: hidden;
}
.footer_top div{height: 25px;}
.footer_top .p_top_left{float: left;}
.footer_top .p_top_right{float: right;}
.footer_top h2{margin: 40px 0 60px;}
footer div:nth-child(2){
  width: 100%;
  height: 900px;
  background: url(../image/footer.jpg) no-repeat bottom center;
  background-size: cover;
}
.footer_bottom address{
  margin: 40px 0 20px 0;
  font-size: 14px;
  font-style: normal;
}
.footer_bottom h4{
  float: left;
}
.bottom_logo{
  float: right;
  width: 130px;
  height: 60px;
  background: url(../image/logo.svg) no-repeat bottom center;
  margin-top: 85px;
}
